nav a.active {
    transition: 1s;
    border: 1px solid teal;
    background-color: white !important;
    color: teal !important;
}

nav a.pending {
    transition: 1s;
    border: 1px solid teal !important;
    background-color: teal !important;
    color: white !important;
}

nav li a:hover {
    border: 1px solid teal !important;
    background-color: teal !important;
    color: white !important;
}

nav li a {
    border: 1px solid transparent;
    padding: 6px 8px;
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
}